@import url("https://rsms.me/inter/inter.css");
@import "tailwindcss" source("../");

@theme {
  --font-inter: "Inter Variable", sans-serif;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
  * {
    border-color: transparent;
  }
}

html {
  color-scheme: light dark;
}

body {
  @apply bg-gray-50 text-gray-950 dark:bg-gray-900 dark:text-gray-200;
}

html body {
  overscroll-behavior: none;
}

.geist-400 {
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.geist-600 {
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
