body {
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
  margin: 0;
}

* {
  box-sizing: border-box;
}

header,
nav,
main,
aside,
footer {
  padding: 12px;
}

header {
  background-color: tomato;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  background-color: coral;
  width: 100px;
  text-align: center;
}

main {
  background-color: moccasin;
  width: auto;
  text-align: center;
}

aside {
  background-color: sandybrown;
  width: 100px;
  text-align: center;
}

footer {
  background-color: slategray;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}

.page-content {
  display: grid;
  grid-template-columns: 100px auto 100px;
  height: calc(100dvh - 160px);
}
